{% extends 'base.html' %}

{% block content %}
<h1>PharmaStock</h1>
<p>PharmaStock é uma solução criada para otimizar os trabalhos relacionados às demandas de materiais, insumos e serviços do Curso de Farmácia da Universidade Federal do Ceará</p>

<h2>Serviços inclusos</h2>
<div class="row">
    <div class="card mb-3 col-md">
        <div class="card-header text-white"><a class="link-cards" href="{% url 'stock' %}">Consultar estoque</a></div>
        <div class="card-body">
            <p class="card-text">
                Na aba "Estoque" é possível consultar todos os items constantes no almoxarifado e disponíveis para retirada para os setores e laboratórios.
            </p>
        </div>
    </div>
    <div class="card mb-3 col-md">
        <div class="card-header text-white"><a class="link-cards" href="{% url 'pgc' %}">Cadastrar demanda no PGC</a></div>
        <div class="card-body">
            <p class="card-text">
                Na aba "PGC" será possível cadastrar as demandas do departamento para o Plano Geral de Contratações. Em construção.
            </p>
        </div>
    </div>
</div>
{% endblock %}