{% extends 'base.html' %}

{% block content %}
<h1>PharmaStock</h1>
<p>PharmaStock é uma solução criada para otimizar os trabalhos relacionados às demandas de materiais, insumos e serviços do Curso de Farmácia da Universidade Federal do Ceará</p>

<h2>Serviços inclusos</h2>
<ul class="list-group">
    <li class="list-group-item">Pesquisa de material no almoxarifado</li>
    <li class="list-group-item">Inserir demandas no PGC</li>
    <li class="list-group-item">Solicitação de materiais</li>
</ul>
{% endblock %}