{% extends '../base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <h1>Busca por categoria</h1>
    <table class="table table-striped">
        <thead>
            <th scope="col">CATMAT</th>
            <th scope="col">Categoria</th>
            <th scope="col">Descrição</th>
            <th scope="col">Apresentação</th>
            <th scope="col">Quantidade em estoque</th>
        </thead>
        <tbody>
            {% for value in queryset %}
                <tr>
                    <td>{{ value.catmat }}</td>
                    <td>{{ value.category }}</td>
                    <td>{{ value.description }}</td>
                    <td>{{ value.presentation }}</td>
                    <td>{{ value.quantity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}