{% extends '../base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <h1>Conferência de estoque</h1>
    <p>Nesta área é possível conferir os materiais disponíveis no almoxarifado</p>
    <form action="." method="post">
       <fieldset>
            <legend>Escolha a forma de busca</legend>
            <div class="form-group">
                {% csrf_token %}
                <label for="{{ form.category.id_for_label }}">Categoria</label>
                {% render_field form.category class+="form-control" %}
            <button type="submit" class="btn btn-block btn-primary mt-3">Buscar</button>
            </div>
       </fieldset>
    </form>
{% endblock %}