.active {
    border-radius: 5px;
}

nav li {
    text-align: center;
    margin: auto;
}

.footer-ul {
    display: flex;
}

#table-category {
    opacity: 0;
    transition: opacity 0.5s linear;
}

